<div class=post-content>
  <p>Title:<%= @post.title %></p>
 <p>Content: <%= @post.content %></p>
  <% @post.categories.each do |category| %>
   <p>Category: <%= category.name %></p>
  <% end %>
</div>
